/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'Jost', sans-serif;
}

:root {
    --cala: #faebd7;
    --white: #ffffff;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* DESDE ACA*/


/*************** INDEX *********************/


/* ASIDE */

.aside {
    display: none;
}

@media (min-width:768px) {
    body {
        background-image: url(../img/aside.png);
    }
}


/* NAV BAR*/

.fixed-top {
    background-color: white;
    margin-bottom: 70px;
}

.site-title {
    font-family: 'Jost', sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 3em;
}

.site-title:hover {
    color: var(--cala);
}

.nav-text {
    font-family: 'Jost', sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 1.3em;
}

.nav-text:hover {
    color: var(--cala);
}

.dropdown-item:hover {
    background-color: var(--cala);
}

.cart {
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    font-size: 2em;
}

.cart:hover {
    color: var(--cala);
    transform: scale(1.5);
}

.search-btn {
    border-color: gray;
    color: white;
    background-color: gray;
    font-weight: 800;
}

.search-btn:hover {
    background-color: var(--cala);
    border-color: var(--cala);
    font-weight: bolder;
}


/* BREADCRUMB */

.breadcrumb-fix {
    margin-top: 100px;
    margin-bottom: 0px;
}


/* CAROUSEL */

.carousel-fix {
    margin-top: 0px !important;
}

.carousel-img img {
    max-height: 800px;
}

.carousel-inner {
    width: 100%;
    height: 450px;
}

@media (min-width:768px) {
    .carousel-inner {
        height: 800px;
    }
}


/* SERVICES */

.services {
    margin-top: 70px;
    background-color: white;
    padding-top: 15px;
}

.center-icon {
    display: block;
    text-align: center;
}

.infoshipping {
    border-right: .5px solid gray;
}


/* MAIN */

.productos-destacados {
    justify-content: space-around;
    margin-bottom: 20px;
}

.productos-destacados h1 {
    padding: 30px 0 10px 0;
}

.main-products {
    margin-top: 50px;
    background-color: white;
}

.product-column {
    padding-bottom: 20px;
}

.btn-compra {
    background-color: var(--cala);
    border-color: var(--cala);
    font-family: 'Jost', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-compra:hover {
    background-color: gray;
    border-color: gray;
}


/* FOOTER */

footer {
    overflow-x: hidden;
    max-width: 100%;
    margin-top: 70px;
    background-color: #fcf3e6;
}

.footer {
    padding: 20px;
}

.social-network a {
    text-decoration: none;
    color: black;
}

address {
    line-height: 10px;
}

.payments {
    padding: 20px
}

.pay-methods {
    font-size: 2em;
    justify-content: flex-end;
    padding-right: 20px;
}

.copyright {
    display: block;
    text-align: center;
    font-size: small;
}


/***************** NOSOTROS ***********************/

.nosotros-content {
    margin-top: 30px;
}

.nosotros img {
    max-width: 100%;
    max-height: 500px;
}

.nosotros-fila {
    margin-bottom: 40px;
}

.nosotros-p p {
    background-color: white;
}


/************ CONTACTO ****************/

.form-contacto label {
    font-weight: 900;
}

.contacto {
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: var(--cala);
    border-radius: 10px;
    justify-content: space-around;
}

.mensaje {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border-color: #cfcfcc;
}

.btn-contacto {
    background-color: gray;
    border-color: gray;
    color: white;
    font-weight: 800;
}

@media (min-width:768px) {
    .contacto {
        height: 500px;
        width: 700px;
        padding: 30px 10px;
    }
    .mensaje {
        height: 170px;
    }
}


/******************** HOGAR ************************/


/* .carousel-prod img {
    max-height: 300px;
} */

.prod-info h6 {
    font-weight: 800;
}

.terminos {
    font-weight: 200;
    font-size: 13px;
}

.btn-purchase {
    background-color: gray;
    border-color: gray;
    font-weight: 900;
    padding-bottom: 5px;
}

.btn-purchase:hover {
    background-color: black;
    border-color: black;
}

.product-container {
    background-color: var(--cala);
    max-height: 450px;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.product-container h4 {
    padding: 10px;
    font-weight: 900;
}


/*HASTA ACA */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
